In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../data/processed/asrs/ASRS_clustered.parquet")

In [3]:
df.head()

,narrative,Time,Place,Environment,phase,aircraft_type,airport,embedding,umap_x,umap_y,cluster
0,Narrative Callback Narrative Callback Synopsis,Date,Locale Reference,Flight Conditions,None,None,None,"[0.004298643209040165, -0.0037726161535829306,...",-0.529574,7.660700,9
1,The weather at TPA on the arrival was 1/4 SM a...,202301,TPA.Airport,IMC,Taxi,None,THE,"[0.03323395550251007, -0.032404638826847076, 0...",0.389950,5.857384,5
2,On descent into ZZZ setting up for the ILS XX ...,202301,ZZZ.Airport,IMC,Taxi,None,INTO,"[0.017048358917236328, -0.04305987432599068, 0...",3.339455,9.686419,8
3,A Ramp Agent brought me a battery powered whee...,202301,None,None,None,B737,RAMP,"[0.05386919528245926, -0.005231848917901516, 0...",9.461080,10.086215,1
4,I was hand flying the ILS 20R into SNA and was...,202301,SCT.TRACON,VMC,Approach,None,WAS,"[-0.0015672168228775263, -0.01147032156586647,...",-1.484912,1.579265,10

In [4]:
df.shape

(4584, 11)

In [5]:
df["cluster"].value_counts()

cluster
3     521
4     469
11    469
2     421
9     408
8     387
7     386
0     385
6     348
1     325
5     304
10    161
Name: count, dtype: int64

In [6]:
# For Tableau

df.to_csv("../data/exports/ASRS_clustered.csv", index=False)